Flask==2.3.3
flask-cors==6.0.1
Flask-PyMongo==2.3.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.4.0
packaging==25.0
pymongo==4.15.2
python-dotenv==1.0.0
scape==0.9.9
Werkzeug==2.3.7
bcrypt==4.1.2
dnspython==2.4.2
